#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  border: 3px solid;
  border-radius: 100%;
  // border: 1px solid red;
}

.data-row {
  &:hover {
    background-color: grey;
  }
}
